{{> layout/top}}

<h1>{{title}}</h1>

<div class="jumbotron my-3 p-0">
  <img src="{{header_image.file.url}}" class="img-fluid" />
</div>

{{{content}}}

<a href="/" class="btn btn-primary text-uppercase">back</a>

{{> layout/bottom}}
