/* Default font Ubuntu */
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(ubuntu.woff) format('woff');
}

/* ************************************************************************** */
/* Layout ******************************************************************* */
/* ************************************************************************** */

/* body and all elements */
* {
    font-size: 100% !important;
}

body {
    background: #333;
    border-radius: 0;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* header */
header {
    background: #999;
    padding: 2%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 1%;
}
header h1 {
    margin-top: 10px !important;
    text-align: center;
}

/* cards */
section {
    padding: 0 !important;
}
section h2 {
    padding: 1%;
    background: #999;
    margin: 0;
}
section > div {
    padding: 1%;
    background: #999;
    overflow: hidden;
}

/* footer */
footer {
    color: #333;
    background: #999;
    padding: 1%;
    margin-top: 1%;
    text-align: center;
}
footer a {
    color: #333;
}

/* ************************************************************************** */
/* General purpose classes ************************************************** */
/* ************************************************************************** */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hidden {
    display: none;
}

.no_widget {
    width: 100%;
    padding: 1%;
    color: #fff;
    background-color: red;
    font-weight: bold;
    opacity: 0.5;
}

/* ************************************************************************** */
/* UI / Widgets ************************************************************* */
/* ************************************************************************** */

.ui {
    border: 0;
    /*border: 1px solid red;
    padding: 1%;*/
}

.list > ul li {
    border: 1px solid #333;
    border-bottom: 0;
    margin: 0;
    padding: 1% 2%;
}
.list > ul li:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid #333;
}

/*
.group {
    background: #ccc;
}
.label {
    background: #ccc;
}
*/

/* ************************************************************************** */
/* Media queries ************************************************************ */
/* ************************************************************************** */

/* Extra small devices */
@media (max-width: 767px) { 
    section { margin-bottom: 1%; }
    section:last-child { margin-bottom: 0; }
}

/* Small devices */
@media (min-width: 768px) and (max-width: 991px) { 
    section {
        margin-right: 1%;
        width: 49.5% !important;
        margin-bottom: 1%;
    }
    section.m2 { margin-right: 0; }
    footer { margin-top: 0; }
}

/* Medium devices */
@media (min-width: 992px) and (max-width: 1199px) { 
    section {
        margin-right: 1%;
        width: 49.5% !important;
        margin-bottom: 1%;
    }
    section.m2 { margin-right: 0; }
    footer { margin-top: 0; }
}

/* Large devices */
@media (min-width: 1200px) { 
    section {
        margin-right: 1%;
        width: 24.3% !important;
        margin-bottom: 1%;
    }
    section.m4 { margin-right: 0; }
    footer { margin-top: 0; }
}
