/* Default font Ubuntu */

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(fonts/ubuntu.woff) format('woff');
}

/* Fonts ******************************************************************** */

* {
    font-family: "Ubuntu";
}

/* Layout ******************************************************************* */

header, footer {
    background: #eee;
    padding: 1%;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1%;
}
header h1 {
    margin: 0;
    text-align: center;
}

h2, h3 {
    margin-top: 10px !important;
}

.jumbotron {
    margin-bottom: 1%;
}

.jumbotron .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

footer {
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
}

/* UI / Widgets ************************************************************* */

.widget {
    position: relative;
    overflow: hidden;
}

.widget:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div[data-widget="Group"] > div.widget {
    float: left;
}

div[data-widget="List"] > ul {
    margin-bottom: 0;
}

/* Behaviors **************************************************************** */

.selectable_selected {
    background: #ddd;
}

.progressable > .progress {
    margin-bottom: 0;
    width: 20px;
    position: absolute;
    z-index: 999;
    right: 0;
    display: none;
    border-radius: 20px;
}
.progressable .progress-bar {
    width: 100%;
    border-radius: 20px;
}

/* General purpose classes ************************************************** */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Media queries ************************************************************ */

/* Extra small devices */
@media (max-width: 767px) {
    section { margin-bottom: 1%; }
    section:last-child { margin-bottom: 0; }
    
    footer { margin-top: 1%; }
}

/* Small devices */
@media (min-width: 768px) and (max-width: 991px) {
    section {
        margin-right: 1%;
        width: 49.5% !important;
        margin-bottom: 1%;
    }
    section.m2 { margin-right: 0; }
    
    footer { margin-top: 1%; }
}

/* Medium devices */
@media (min-width: 992px) and (max-width: 1199px) {
    section {
        margin-right: 1%;
        width: 49.5% !important;
        margin-bottom: 1%;
    }
    section.m2 { margin-right: 0; }
}

/* Large devices */
@media (min-width: 1200px) {
    section {
        margin-right: 1%;
        width: 24.3% !important;
        margin-bottom: 1%;
    }
    
    section.m4 { margin-right: 0; }
    section.m4:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}
