<div class="card h-100">
  <img src="{{thumbnail.file.url}}" class="card-img-top" alt="{{thumbnail.title}}">
  <div class="card-body">
    {{caption}}
  </div>
  <div class="card-footer p-0">
    <a href="{{more_link}}" class="btn btn-primary btn-block text-uppercase">
      {{more}}
    </a>
  </div>
</div>
