
    </main>

    <footer class="footer bg-dark">
      <div class="container pt-5">
        <div class="row">
          <div class="col-md-6">
            <nav class="nav flex-column">
              <a class="nav-link" href="https://actionstation.org.nz/campaigns">Our Campaigns</a>

              <a class="nav-link" href="https://actionstation.org.nz/about">About Us</a>
              <nav class="nav ml-4 flex-column">
                <a class="nav-link" href="https://actionstation.org.nz/about/faqs">FAQ</a>
                <a class="nav-link" href="https://actionstation.org.nz/about/our-funding">Donation Policy</a>
              </nav>

              <a class="nav-link" href="https://our.actionstation.org.nz" target="_blank" rel="noopener noreferrer">Start a campaign</a>
              <a class="nav-link" href="https://donate.actionstation.org.nz/donate">Donate</a>
            </nav>
          </div>
          <div class="col-md-6 text-right">
            <a href="https://actionstation.org.nz/">
              <img width="250" alt="Action Station" src="https://actionstation.org.nz/packs/images/nav-logo-c0341dd0581fea820da418306fa93730.png">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col my-3 text-center text-white">
            <!-- TODO: pass this property through a markdown to html function -->
            {{{common.copyright}}}
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
