<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="{{common.title}} | {{title}}" />
    <meta property="og:url" content="http://TODO.CHANGE.THIS" />
    {{#thumbnail}}
    <meta property="og:image" content="{{thumbnail.file.url}}" />
    {{/thumbnail}}
    <meta property="og:description" content="{{caption}}" />
    <meta property="og:site_name" content="ActionStation" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- ShareThis -->
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5fc4a794b4aee5001239a088&product=sop' async='async'></script>

    <title>{{common.title}} | {{title}}</title>
  </head>
  <body class="{{content_type}}">

    {{> layout/nav}}

    <main role="main" class="mx-auto my-4 container">
