<meta property="og:locale" content="en_NZ"/>
<meta property="og:url" content="{{&common.base_url}}/{{name}}" />
<!--meta property="og:type" content="article" /-->
<meta property="og:title" content="{{common.title}} | {{title}}" />
{{#thumbnail}}
<meta property="og:image" content="https:{{&thumbnail.file.url}}" />
{{/thumbnail}}
<meta property="og:description" content="{{caption}}" />
<meta property="og:site_name" content="ActionStation" />
