<div class="card border-0 mb-3">
  <a href="{{more.link}}">
    <img src="{{thumbnail.file.url}}" class="card-img-top" alt="{{thumbnail.title}}">
  </a>
  <div class="card-body">
    <a href="{{more.link}}">{{caption}}</a>
  </div>
  <div class="card-footer d-grid p-0">
    <a href="{{more.link}}" class="more btn btn-primary text-uppercase">{{more.label}}</a>
  </div>
</div>

<hr class="visually-hidden" />
