{{> layout/top}}

<h1>{{global.title}}</h1>

<div class="my-3">
{{&global.content}}
</div>

<div class="pages row row-cols-1 row-cols-md-3 gy-2" role="grid">
  {{#global.pages}}
    <div class="col mb-3">{{> components/page_gridcell}}</div>
  {{/global.pages}}
</div>

{{> layout/bottom}}
