<div class="card border-0 mb-3 h-100">
  <a href="/{{name}}">
    <img src="{{thumbnail.url}}" class="card-img-top" alt="{{thumbnail.alt}}">
  </a>
  <div class="card-body px-0 pt-1">
    <a href="/{{name}}">{{caption}}</a>
  </div>
  <div class="card-footer d-grid p-0">
    <a href="/{{name}}" class="more btn btn-primary text-uppercase">more information</a>
  </div>
</div>

<hr class="visually-hidden" />
