
    </main>

    <hr class="sr-only" />

    <footer class="footer bg-dark">
      <div class="container pt-5">
        <div class="row">
          <div class="col-md-6">
            <nav class="nav flex-column">
              <a class="nav-link" href="https://actionstation.org.nz/campaigns" target="_asr">Our Campaigns</a>

              <a class="nav-link" href="https://actionstation.org.nz/about" target="_asr">About Us</a>
              <nav class="nav ml-4 flex-column">
                <a class="nav-link" href="https://actionstation.org.nz/about/faqs" target="_asr">FAQ</a>
                <a class="nav-link" href="https://actionstation.org.nz/about/our-funding" target="_asr">Donation Policy</a>
              </nav>

              <a class="nav-link" href="https://our.actionstation.org.nz" target="_asr" rel="noopener noreferrer">Start a campaign</a>
              <a class="nav-link" href="https://donate.actionstation.org.nz/donate" target="_asr">Donate</a>
            </nav>
          </div>
          <div class="col-md-6 text-right">
            <a href="https://actionstation.org.nz/" target="_asr">
              <img width="250" alt="Action Station" src="https://actionstation.org.nz/packs/images/nav-logo-c0341dd0581fea820da418306fa93730.png">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col my-3 mt-4 mt-md-3 text-center text-white">
            <!-- TODO: pass this property through a markdown to html function -->
            {{{common.copyright}}}
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>
