{{> layout/top}}

<h1>{{title}}</h1>

<div class="jumbotron my-3 p-0">
  <img src="{{header_image.file.url}}" class="img-fluid" alt="{{header_image.title}}" />
</div>

{{{content}}}

{{> components/back_and_share}}

{{> layout/bottom}}
