{{> layout/top}}

<h1 aria-hidden="true">{{title}}</h1>

<div class="my-3">
{{{content}}}
</div>

<div class="pages row row-cols-1 row-cols-md-3 mt-4" role="grid">
  {{#pages}}
    <div class="col mb-3">{{> components/list_page_entry}}</div>
  {{/pages}}
</div>

{{> layout/bottom}}
