{{> layout/top}}

<h1>{{title}}</h1>

{{{content}}}

<div class="row row-cols-1 row-cols-md-3">
  {{#pages}}
    <div class="col mb-3">{{> components/list-page-entry}}</div>
  {{/pages}}
</div>

{{> layout/bottom}}
