{{> layout/top}}

<h1 class="danta2020_page_title">{{title}}</h1>

{{#header_image}}
<div class="danta2020_page_header my-3 p-0">
  <img src="{{header_image.url}}" class="img-fluid" />
</div>
{{/header_image}}

{{#video_url}}
<div class="danta2020_page_video ratio ratio-16x9">
  <iframe src="{{video_url}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{{/video_url}}

{{#content}}
<div class="danta2020_page_content">
{{&content}}
</div>
{{/content}}

{{#raw_content}}
<div class="danta2020_page_raw_content">
{{&raw_content}}
</div>
{{/raw_content}}

{{#has_children}}
<div class="row row-cols-1 row-cols-md-3 mt-4">
  {{#pages}}
    <div class="col mb-3">{{> components/page_gridcell}}</div>
  {{/pages}}
</div>
{{/has_children}}

{{> layout/bottom}}
