
    </main>

    <hr class="visually-hidden" />

    <footer class="footer bg-dark">
      <div class="container pt-3 pb-2">
        <div class="row">
          <div class="col-md-3">
            {{> components/footer_links}}
          </div>
          <div class="col-md-9 text-end">
            <a href="/" aria-label="?">
              <img
                class="img-fluid"
                src="{{&global.brand.url}}"
                alt="{{global.brand.alt}}" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col my-3 mt-4 mt-md-3 text-center text-white">
            {{&global.footer_text}}
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
