<div class="back_and_share row">
  <div class="col-6 col-md-9">
    <a href="./2020" class="btn btn-primary btn-lg text-uppercase">back</a>
  </div>
  <div class="col-6 col-md-3">
    <!-- ShareThis BEGIN -->
    <div class="sharethis-inline-share-buttons"></div>
    <!-- ShareThis END -->
  </div>
</div>
