<div class="card h-100" role="gridcell">
  <img src="{{thumbnail.file.url}}" class="card-img-top" alt="{{thumbnail.title}}">
  <div class="card-body">
    <a href="{{more_link}}">{{caption}}</a>
  </div>
  <div class="card-footer p-0">
    <a href="{{more_link}}" class="more btn btn-primary btn-block text-uppercase">
      {{more}}
    </a>
  </div>
</div>

<hr class="sr-only" />
