<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--meta name="description" content="?"-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- ShareThis -->
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=?&product=sop' async='async'></script>

    <title>{{#title}}{{title}} | {{/title}}{{global.title}}</title>

    <base href="{{&global.base_url}}" />
  </head>
  <body class="{{global.css_classes}} {{page.css_classes}}">

    {{> layout/navigation}}

    <main role="main" class="mx-auto my-4 container">
